* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Delicious Handrawn', cursive;
}

body {
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    display: flex;
}

.leftPanel {
    flex: 2;
    background: url(left-panel-img.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.logoContainer {
    width: 100%;
    height: 10em;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImg {
    height: 7em;
}

.logoText {
    margin-left: 12px;
    color: white;
    font-size: 6em;
}

.credit {
    font-size: 20px;
    margin-top: auto;
    align-self: center;
    color: white;
}

.rightPanel {
    font-size: 2em;
    box-sizing: border-box;
    flex: 3;
    background-color: rgb(0,0,0,0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rightPanel p {
}

.formContainer {
    text-align: center;
    background-color: #fcd5b1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 2px 2px 8px 9px rgba(0, 0, 0, 0.1);
}

.letsDo {
    text-align: center;
    width: 100%;
}

.inputContainer {
    min-width: 40%;
    display: flex;
    flex-direction: column;
}

input {
    min-height: 32px;
    border: 3px inset #000;
    border-radius: 5px;
}

button {
    margin: 32px;
    font-size: 1em;
    border: 3px inset #000;
    border-radius: 5px;
    padding: 6px;
}